@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/typography";

.checkout-product {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: transparent;
  padding: 10px;
  width: 100%;
  margin-bottom: 2rem;
  border: 1px solid $text-color;
  color: $text-color;
  border-radius: 3.2px;
  @include tablet {
    padding: 25px;
    margin: 1rem;
  }
  &__image {
    object-fit: contain;
    width: 8.25rem;
    height: 8.25rem;

    @include tablet {
      width: 11.25rem;
      height: 11.25rem;
    }
  }
  &__info {
    margin-left: 1.25rem;
  }
  &__btn {
    background-color: $header-bg;
    height: 2.25rem;
    width: 10rem;
    margin-bottom: 0.5rem;
    border: 1px solid $text-color;
    border-radius: 0.3rem;
    color: $link-text-color;
    cursor: pointer;
  &:active {
    outline-color: $text-color;
  }
    &:active :focus {
      outline-color: $text-color;
      border: none;
    }
  }
  &__rating {
    display: flex;
    margin-bottom: 1rem;
  }

  &__price {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
