.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 400px;
  max-width: 350px;
  background-color: transparent;
  margin: 1rem;
  min-width: 220px;
  padding: 30px;
  width: 290px;
  margin-bottom: 2rem;
  border: 1px solid #2f1728;
  color: #2f1728;
  border-radius: 0.2rem;

}
.product__price {
  margin-top: 10px;
  margin-bottom: 0.5rem;
}
.product__image {
  width: 100%;
  height: 200px;
  max-height: 350px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.product__rating {
  display: flex;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__btn {
  background-color: #8d726b;
  height: 2.25rem;
  width: 8rem;
  margin-bottom: 0.5rem;
  border: 1px solid #2f1728;
  border-radius: 0.3rem;
  color: snow;
  &:active :focus {
    outline-color: #2f1728;
    border: none;
  }
}
