@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/typography";

.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18.75rem;
  height: 9.375rem;
  padding: 1.25rem;
  border-radius: 0.3rem;
  color: $text-color;

  &__btn {
    background-color: $header-bg;
    height: 3rem;
    width: 15rem;
    margin-bottom: 0.5rem;
    border: 1px solid $text-color;
    border-radius: 0.3rem;
    color: $link-text-color;
    cursor: pointer;

    &:active :focus {
      outline-color: $text-color;
      border: none;
    }
  }
}
