@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/typography";

.home {
  background-color: $page-bg;
  transition: all ease-in 0.5s;

  &__banner-container {
    background-image: url("../../assets/thread.jpg");
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    @include tablet {
      height: 450px;
    }
    @include desktop {
      height: 650px;
    }
  }

  &__banner-title {
    color: $link-text-color;
    transition: all ease-in 1s;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid $text-color;
    padding: 10px;
    border-radius: 1rem;
  }

  &__products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &__new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all ease-in 0.5s;
    color: $text-color;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &__header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    &:hover {
      transform: scale(1.2);
      transition: all ease-in 0.5s;
      cursor: pointer;
    }
  }
  &__new-products {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in 0.5s;
    color: $text-color;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }

  &__form-label {
    margin-bottom: 0.625rem;
  }
  &__form-input {
    height: 1.875rem;
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid $text-color;
    border-radius: 0.3rem;
    font-size: 1rem;
    color: $text-color;

    &:active :focus {
      outline-color: $text-color;
      border: none;
    }
    @include tablet {
      width: 25rem;
    }
    @include desktop {
      width: 30rem;
    }
  }
}

