.home {
  background-color: #fff5d7;
  transition: all ease-in 0.5s;

  &__banner-container {
    background-image: url("../../assets/thread.jpg");
    background-position: center;
    background-size: cover;
    max-width: 93.75rem;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__banner-title {
    color: snow;
    transition: all ease-in 1s;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
  }
  &__new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all ease-in 0.5s;
    color: #2f1728;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    &:hover {
      transform: scale(1.2);
      transition: all ease-in 0.5s;
      cursor: pointer;
    }
  }
  &__new-products {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }

  &__products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in 0.5s;
    color: #2f1728;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
}