.header {
  background-color: slategray;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 200px;
  height: 150px;
  margin-right: 20px;
  object-fit: contain;
  cursor: pointer;
}

.header__search-container {
  display: flex;
  flex: 1;
}
.header__search-icon {
  background-color: snow;
}
.header__search {
  height: 24px;
  width: 100%;
  border: none;
}
.header__link-container {
  display: flex;
  justify-content: space-evenly;
}
.header__link {
  color: snow;
  text-decoration: none;
}
.header__link-options {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.header__link-one {
  font-size: 10px;
}

.header__link-two {
  font-size: 13px;
  font-weight: 800;
}
.header__option-basket {
  display: flex;
  align-items: center;
}
.header__basket-count {
  margin-left: 5px;
  margin-right: 5px;
}
