.header {
  background-color: #8F746E;
  display: flex;
  align-items: center;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;

  &__logo {
    width: 300x;
    height: 6.25rem;
    margin: 0;
    margin-right: 1.25rem;
    object-fit: contain;
    cursor: pointer;
  }
  &__search-container {
    display: flex;
    flex: 1;
  }
  &__search-icon {
    background-color: snow;
  }

  &__search {
    height: 1.5rem;
    width: 100%;
    border: none;
  }
  &__link-container {
    display: flex;
    justify-content: space-evenly;
  }
  &__link {
    color: snow;
    text-decoration: none;
  }
  &__link-options {
    display: flex;
    flex-direction: column;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
  }
  &__link-one {
    font-size: 0.625rem;
  }

  &__link-two {
    font-size: 0.8125rem;
    font-weight: 800;
  }
  &__option-basket {
    display: flex;
    align-items: center;
  }

  &__basket-count {
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
  }

  &__link--active {
    border-bottom: 0.0625rem solid #dcafa5;
  }
  &__cart-container {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 1rem;
  }
}
