// Colors
$text-color: #2f1728;
$header-bg: #8F746E; //header bg
$page-bg: #fff5d7;
$link-active:  #dcafa5;
$link-text-color: snow;


// Sizes
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

